* {
    box-sizing: border-box; 
}

body {
    margin:0;
    font-family:'Courier New', Courier, monospace
}

img {
    width: 100%;
    height: auto; 
}

.container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid purple;
    background-color: rgba(255,0,255,0.3);
    min-height: 400px;
}

.item {
    border: 1px solid cornflowerblue;
    background-color: rgba(0,0,255,0.3);
    width: 23%;
    min-height: 300px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-even {
    justify-content: space-evenly;
}

.align-start {
    align-items: flex-start;
}
.align-end {
    align-items: flex-end;
}
.align-center {
    align-items: center;
}
.self-start {
    align-self: flex-start
}

.self-end {
    align-self: flex-end;
}

.self-center {
    align-self: center;
}
header {
    display:flex;
    width:100%;
    min-height: 100px;
    background-color:aqua;
}

.wrapper {
    display: flex;
}

.grid-item {
    width: 100%;
}

.menu {
    margin:0;
    padding:0;
}
.menu li{
    border-bottom: 1px;
}
.menu span{
    padding: 1rem; 
    font-size: 2rem; 
}
.menu a{
    text-decoration: none; 
}

@media screen and (max-width:1024px){
    .wrapper {
        flex-direction: column;
    }
    .secondary-nav {
        
    }
}
